[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.0.0"
certifi = "==2022.12.7"
chardet = "==3.0.4"
click = "==7.1.2"
dill = "==0.3.1.1"
idna = "==2.9"
itsdangerous = "==1.1.0"
requests = "==2.23.0"
urllib3 = "==1.25.9"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
websocket-client = "*"
websockets = "*"
eventlet = "*"
flask-socketio = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
